<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Guide</title>
</head>
<body>
    <h1>QR Code pour le Guide d'Utilisation de l'équipement : {{ equipement.nom }}</h1>
    <img src="{{ qrCodeImage }}" alt="QR Code du Guide" />
    <p>Scannez ce QR code pour voir le guide d'utilisation.</p>
</body>
</html>
