<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide d'Utilisation</title>
</head>
<body>
    <h1>Guide d'Utilisation de l'équipement : {{ equipement.nom }}</h1>
    <div class="guide-content">
        <p>{{ guideContent | raw }}</p> <!-- Affichage du contenu du guide -->
    </div>
</body>
</html>
