{% extends 'base.html.twig' %}

{% block title %}Edit Equipement{% endblock %}

{% block body %}
    <h1>Edit Equipement</h1>

    {{ include('equipement/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
