{% extends 'base.html.twig' %}

{% set active_page = 'service' %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="container">
            <h1 class="mb-4">Créer un nouveau service</h1>

            {{ include('service/_form.html.twig') }}

           
        </div>
    </div>
{% endblock %}