<form method="post" action="{{ path('app_serve_delete', {'id_service': service.id_service}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce service?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id_service) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>