{% set active_page = 'home' %}
<form method="post" action="{{ path('app_reservation_delete', {'id_reservation': reservation.id_reservation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id_reservation) }}">
    <button class="btn">Delete</button>
</form>
