<form method="post" action="{{ path('app_paiement_delete', {'id': paiement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce paiement ?');">    
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>